<li>
  <%= addresses_form.label :kind %>
  <%= addresses_form.text_field :kind %>

  <%= addresses_form.label :street %>
  <%= addresses_form.text_field :street %>
  <%= addresses_form.check_box :_destroy %>

</li>