<p id="notice"><%= notice %></p>
<h2>My Cart</h2>

<div class="cart_items">
  <table>
    <% for item in @cart.line_items do %>
        <tr>
          <td> <%= item.quantity %>
          </td>
          <td> &times;
            <%= item.product.title %>
          </td>
          <td class="item_price">
            <%= number_to_currency(item.product.price) %>
          </td>
          <td>
            <%=
                button_to "Remove2", item, {:method => :delete, :confirm => "Sure???"}
            %>
          </td>
        </tr>
    <% end %>
    <tr class="total_line">
      <td>
      </td>
      <td collspan="2">
        Total:
      </td>
      <td class="total_price">
        <%= number_to_currency(@cart.total_prize()) %>
      </td>
    </tr>
  </table>
</div>

<%=
    button_to "Empty cart", @cart, :method => :delete, :confirm => "Sure???"
%>

<%= link_to 'Back', root_path

%>
