<p id="notice"><%= notice %></p>
<h2>My Cart</h2>

<div class="cart_items">
  <table>
    <%= render @cart.line_items %>
    <tr class="total_line">
      <td>
      </td>
      <td collspan="2">
        Total:
      </td>
      <td class="total_price">
        <%= number_to_currency(@cart.total_prize()) %>
      </td>
    </tr>
  </table>
</div>

<%=
    button_to "Empty cart", @cart, :method => :delete, :confirm => "Sure???"
%>

<%= link_to 'Back', root_path

%>
