<h1>Listing origamis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @origamis.each do |origami| %>
  <tr>
    <td><%= origami.name %></td>
    <td><%= origami.author %></td>
    <td><%= link_to 'Show', origami %></td>
    <td><%= link_to 'Edit', edit_origami_path(origami) %></td>
    <td><%= link_to 'Destroy', origami, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Origami', new_origami_path %>
