<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @address.kind %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
